<!doctype html>
<html>
  <head>
    <title>Firebase Demo</title>
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
  </head>
  <body>
    <h1>Firebase Demo</h1>
    <form id="login">
      <input id="email" placeholder="Email" />
      <input id="password" type="password" placeholder="Password" />
      <button type="submit">Sign in</button>
    </form>
    <button id="logout" type="button">Sign out</button>
    <script>
      var firebase = new Firebase('https://whichcraft.firebaseio.com');
      var authData = firebase.getAuth();

      var login = document.getElementById('login');
      var logout = document.getElementById('logout');

      if (authData) {
        login.style.display = 'none';
      } else {
        logout.style.display = 'none';
      }

      login.onsubmit = function (e) {
        e.preventDefault();
        firebase.authWithPassword({
          email: document.getElementById('email').value,
          password: document.getElementById('password').value
        }, function (error, authData) {
          if (error) {
            console.log(error);
          } else {
            location.reload();
          }
        });
      }

      logout.onclick = function () {
        firebase.unauth();
        location.reload();
      }
    </script>
  </body>
</html>