<!doctype html>
<html>
  <head>
    <title>Firebase Demo</title>
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
  </head>
  <body>
    <h1>Firebase Demo</h1>
    <form id="login">
      <input id="email" placeholder="Email" />
      <input id="password" type="password" placeholder="Password" />
      <button type="submit">Sign in</button>
    </form>
    <script>
      var firebase = new Firebase('https://whichcraft.firebaseio.com');

      var login = document.getElementById('login');

      login.onsubmit = function (e) {
        e.preventDefault();
        firebase.authWithPassword({
          email: document.getElementById('email').value,
          password: document.getElementById('password').value
        }, function (error, authData) {
          if (error) {
            console.log(error);
          } else {
            console.log('Great success, idiot!');
          }
        });
      }
    </script>
  </body>
</html>